.footer {
  height: 84px;
  width: 100%;
  background: #457C6A;
  padding: 27px 0;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__links {
    display: flex;
    justify-content: space-between;
  }

  &__lnk {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;

    &:first-child {
      margin-right: 58px;
    }

  }


      &__p {
        font-weight: 100;
        font-size: 10px;
        line-height: 12px;
        color: #EDEDED;
        width: 31%;
      }
}

.sp-copy {
  color: #fff;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
}
